<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/movies">Movies</a>
      <a href="/series">Series</a>
      <!-- <a href="/movies/upload">Upload a Movie</a>
      <a href="/series/upload">Upload a Series</a> -->
      </a>
    </header>

  </body>
</html>
