<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Series list</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/movies" class="active">Movies</a>
      <a href="/series" >Series</a>
      <a href="/movies/upload" >Upload a Movie</a>
      <a href="/series/upload">Upload a Series</a>
      </a>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="id-col noselect">ID</th>
          <th scope="col" class="name-col noselect">Name</th>
          <th scope="col" class="genre-col noselect">Genre</th>
          <th width="200px" class="imdb-col noselect">IMDb Rating</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.length){ for(let i = 0; i< data.length; i++) {%>
        <tr>
          <th scope="row" class="id-table"><%= (i+1) %></th>

          <td class="name-table"><%= data[i].name%></td>
          <td class="genre-table"><%= data[i].genre%></td>
          <td class="imdb-table"><%= data[i].IMDb%></td>
        </tr>
        <% } }else{ %>
        <tr>
          <td colspan="3">No user</td>
        </tr>
        <% } %>
      </tbody>
    </table>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
let mybutton = document.getElementById("myBtn");
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
  </body>
</html>
